<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "index.html" %}
{% block body_block %}
{% if validlink %}
<h4>Set new password</h4>
<form method="post">
    {% csrf_token %}
    new password<input type="text" name="new_password1"><br>
    confirm password<input type="text" name="new_password2">
    <input type="submit" value="change password">
</form>
{% endif %}


{% endblock %}
</body>
</html>